@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import "./global/variables/global.scss";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: $mainPurple;
  font-weight: 400;
  font-family: $fontDefault;
}
